/* css styles */

/* ≥1600px */
html { zoom: 100%; }

/* 1200–1600px */
@media (max-width: 1599.98px) {
  html { zoom: 95%; }
}

/* 992–1199px */
@media (max-width: 1199.98px) {
  html { zoom: 90%; }
}

/* 768–991px */
@media (max-width: 991.98px) {
  html { zoom: 85%; }
}

/* <768px */
@media (max-width: 599.98px) {
  html { zoom: 55%; }
}



.rounded {
    border-radius: 10%;
    border: 1px solid #888;
}

.column:first-child {
    text-align: left;
}

.column:first-child h3 {
    margin-top: 1rem;
}

.column:first-child hr {
    margin: 1rem 0;
}

.column:first-child {
    padding-right: 2rem;
}




.member-card {
  display: inline-block;
  width: 240px;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  text-align: center;
  vertical-align: top;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: 0.2s;
}

/*
.member-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
*/

.member-card img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
  display: block;
}

.member-card h3 {
  margin: 1rem 0 0.3rem;
}

.member-card p {
  margin: 0.3rem 1rem 1rem;
}
